* {
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	user-select: none;
}

#selector {
	height: 50px;
	position: relative;
}

#app {
	height: calc(100% - 50px);
	max-width: 600px;
}
